.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

  .bord{
    border: 3px solid #73AD21;
      
  }

.vertical-center{
    position: fixed;
    height: 60%;
    top:20%;
    padding: 10px;
  }

.control-button{
    width: 50%;
    margin: 2%;
    max-height: 50px;
}

.form-control-el{
    margin: 2%;
}

.answer-place{
    border-width: 1pt;
    width: 60%; 
    font-size: 18px;
   
}

#loadImg{position:absolute; z-index:1000; display:none}