body{
    background-image: url("./img/background.jpg");
    background-repeat: repeat;
}

form {
    margin:auto;
    width: 60%;
    padding: 10px;
  }

.bord{
    border: 3px solid #73AD21;
      
  }

.main{
    
    width: 40%;
    min-height: 40%;
    left: 30%;
    top:30%;
    padding: 10px;
    position: absolute;
    
  }

.control-button{
    max-height: 40px;
}

.form-control-el{
    margin: 2%;
    min-width: 80%;
    left:40%;
}

.answer-place{
    left: 10%;
    border-width: 1pt;
    width: 80%; 
    font-size: 18px;
    word-break: break-all;
    overflow: auto;
}

#loadImg{position:absolute; z-index:1000; display:none}