.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }


.control-button{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    max-height: 5%;
}

.form-control-el{
    margin: 1%;
}

.answer-place{
    border-width: 1pt;
   
}